.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}
input {
  margin: 2rem;
}

.morpion {
  margin-top: 3rem;
  width: 900px;
  height: 900px;
  color: black;
  font-size: 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
}

.col {
  display: flex;
  border: #282c34 1px solid;
  width: 33%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

h6 {
  margin: 0;
  padding: 0;
  color: white;
}
